{% extends "::base.html.twig" %}

{% block body %}
    <h1>List of articles</h1>
    <ul>
    {% for article in articles %}
        <li><a href="{{ path('article', {'id': article.id}) }}">{{ article.title }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}